@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
    display: flex;
    width: 1000px;
    padding: 50px 50px;
    justify-content:space-around;
    font-family: 'S-CoreDream-3Light';
    background-color:#fafbfc;
    margin: 0 auto;
    border: 1px solid #c8c8c8;
    border-radius : 10px;
    box-shadow: 1px 1px 1px #dddddd;
}

.main {
    background-color: #fafbfc;
    justify-content: space-around;
    width: 80%;
    padding: auto;
    font-family: 'S-CoreDream-3Light';
}

.box {
	top: 50px;
	left: 100px;
	width: 780px;
	background-color: rgba(255, 255, 255, 0.932);
	color: #5B5656;
	padding: 15px 20px 20px 25px;
    border-radius: 12px;
    border: 2px solid rgba(247, 206, 132, 0.61);
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 16px;
    color: #5B5656;
}

h3 {
    font-size: 16px;
    color: #5B5656;
}

p {
    text-align: justify;
    color: #5B5656;
}

.delivery_pt {
    text-align: right;
}

strong {
    font-size: 30px;
}

.btn2 {
    font-family:'S-CoreDream-3Light';
    display: flex;
    justify-items: center;
}

.btn1 {
    font-family:'S-CoreDream-3Light';
    display: flex;
    justify-items: center;
}

/* card!!! */

.cards {
    text-align: center;
}

.card {
	height: 400px;
	width: 400px;
	border-radius: 15px;
	display: inline-block;
	margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
	margin-bottom: 30px;
	position: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
}

.card-body {
    text-align: center;
    margin: 21px;
}