@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.custom-class-ex{
    font-family: 'S-CoreDream-3Light';
}

/* 색깔 먹이기  */
.custom-class-ex2{
    background-color:rgba(250, 247, 239, 0.438);
}

h {
    font-family: 'S-Coredream-3Light';
    font-size: 20px;
    background-color: antiquewhite;
    align-content: center;
    text-align: center;
}

.span{
    font-family: 'S-CoreDream-3Light';
    text-align: center;
}

form {
    font-family: 'S-CoreDream-3Light';
    border: 1px solid #e4e4e4;
    background-color: #fbfbfb;
    padding: 10px;
    width: 90%;
}

#order {
    font-size: 16px;
    padding: 10px;
    width: 98%;
}

b{
    background-color:#df700049;
}

strong{
    font-size: 30px;
}